#nav {
    .main{
    display: flex;
    margin:10px auto;
    text-align: center;
    flex-direction: row;
    bottom:100px;
   
    .title{
       justify-content: flex-start;
       color:green;
    }
    .right{
        
        justify-content: flex-end;
    }
   }
    
    
    
    .main > div {
        text-align: center;
    }
  }
  